<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Detail Employee</title>
  <th:block th:replace="~{layouts/static :: css_links}"></th:block>
</head>

<body class="layout-fixed sidebar-expand-lg sidebar-open bg-body-tertiary">
  <!--begin::App Wrapper-->
  <div class="app-wrapper">
    <!--begin::Header-->
    <th:block th:replace="~{layouts/header :: header}"></th:block>
    <!--end::Header-->
    <!--begin::Sidebar-->
    <th:block th:replace="~{layouts/sidebar :: sidebar}"></th:block>
    <!--end::Sidebar-->
    <!--begin::App Main-->
    <main class="app-main">
      <!--begin::App Content Header-->
      <div class="app-content-header">
        <!--begin::Container-->
        <div class="container-fluid">
          <!--begin::Row-->
          <div class="row">
            <div class="col-sm-6">
              <h3 class="mb-0">Detail employee</h3>
            </div>
          </div>
          <!--end::Row-->
        </div>
        <!--end::Container-->
      </div>
      <!--end::App Content Header-->
      <!--begin::App Content-->
      <div class="app-content">
        <!--begin::Container-->
        <div class="container-fluid">
          <!--begin::Row-->
          <div class="row g-4">
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-9">
              <!--begin::Quick Example-->
              <div class="card card-primary card-outline mb-4">
                <!--begin::Header-->
                <div class="card-header">
                  <div class="card-title">Detail information</div>
                </div>
                <!--end::Header-->
                <!--begin::Form-->
                  <div class="card-body">
                    <div class="mb-3">
                      <label for="id" class="form-label fw-bold">Id: </label>
                      <label th:text="${employee.id}"></label>
                    </div>
                    <div class="mb-3">
                      <label for="name" class="form-label fw-bold">Name: </label>
                      <label th:text="${employee.name}"></label>
                    </div>
                    <div class="mb-3">
                      <label for="email" class="form-label fw-bold">Email address: </label>
                      <label th:text="${employee.email}"></label>
                    </div>
                    <div class="mb-3">
                      <label for="departmentId" class="form-label fw-bold">Department: </label>
                      <label th:text="${employee.department.name}"></label>
                    </div>
                    <div class="mb-3">
                      <label for="code" class="form-label fw-bold">Code: </label>
                      <label th:text="${employee.code}"></label>
                    </div>
                  </div>
                  <!--end::Body-->
                  <!--end::Footer-->
              </div>
              <!--end::Quick Example-->
            </div>
            <!--end::Col-->
          </div>
          <!--end::Row-->
        </div>
        <!--end::Container-->
      </div>
    </main>
    <!--end::App Main-->
    <!--begin::Footer-->
    <th:block th:replace="~{layouts/footer :: footer}"></th:block>
    <!--end::Footer-->
  </div>
  <!--end::App Wrapper-->
  <!--begin::Script-->
  <!--begin::Third Party Plugin(OverlayScrollbars)-->
  <th:block th:replace="~{layouts/static :: js_scripts}"></th:block>
  <!--end::OverlayScrollbars Configure-->
  <!--end::Script-->
</body>

</html>
