<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Create Employee</title>
  <th:block th:replace="~{layouts/static :: css_links}"></th:block>
</head>

<body class="layout-fixed sidebar-expand-lg sidebar-open bg-body-tertiary">
  <!--begin::App Wrapper-->
  <div class="app-wrapper">
    <!--begin::Header-->
    <th:block th:replace="~{layouts/header :: header}"></th:block>
    <!--end::Header-->
    <!--begin::Sidebar-->
    <th:block th:replace="~{layouts/sidebar :: sidebar}"></th:block>
    <!--end::Sidebar-->
    <!--begin::App Main-->
    <main class="app-main">
      <!--begin::App Content Header-->
      <div class="app-content-header">
        <!--begin::Container-->
        <div class="container-fluid">
          <!--begin::Row-->
          <div class="row">
            <div class="col-sm-6">
              <h3 class="mb-0">Create employee</h3>
            </div>
          </div>
          <!--end::Row-->
        </div>
        <!--end::Container-->
      </div>
      <!--end::App Content Header-->
      <!--begin::App Content-->
      <div class="app-content">
        <!--begin::Container-->
        <div class="container-fluid">
          <!--begin::Row-->
          <div class="row g-4">
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-9">
              <!--begin::Quick Example-->
              <div class="card card-primary card-outline mb-4">
                <!--begin::Header-->
                <div class="card-header">
                  <div class="card-title">Form</div>
                </div>
                <!--end::Header-->
                <!--begin::Form-->
                <form th:action="@{/employees/new}" th:object="${employee}" method="post">
                  <!--begin::Body-->
                  <div class="card-body">
                    <div class="mb-3">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" class="form-control" th:field="*{name}" />
                      <div th:if="${#fields.hasErrors('name')}" class="error-detail">
                        <span th:errors="*{name}" style="color:red;"></span>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="email" class="form-label">Email address</label>
                      <input type="email" class="form-control" th:field="*{email}" aria-describedby="emailHelp" />
                      <div th:if="${#fields.hasErrors('email')}" class="error-detail">
                        <span th:errors="*{email}" style="color:red;"></span>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="departmentId" class="form-label">Department</label>
                      <select class="form-select" id="departmentId" th:field="*{departmentId}">
                        <option value="">Choose...</option>
                        <option th:each="dept : ${departments}" th:value="${dept.id}" th:text="${dept.name}"></option>
                      </select>
                      <div th:if="${#fields.hasErrors('departmentId')}" class="error-detail">
                        <span th:errors="*{departmentId}" style="color:red;"></span>
                      </div>
                    </div>
                  </div>
                  <!--end::Body-->
                  <!--begin::Footer-->
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                  </div>
                  <!--end::Footer-->
                </form>
                <!--end::Form-->
              </div>
              <!--end::Quick Example-->
            </div>
            <!--end::Col-->
          </div>
          <!--end::Row-->
        </div>
        <!--end::Container-->
      </div>
    </main>
    <!--end::App Main-->
    <!--begin::Footer-->
    <th:block th:replace="~{layouts/footer :: footer}"></th:block>
    <!--end::Footer-->
  </div>
  <!--end::App Wrapper-->
  <!--begin::Script-->
  <!--begin::Third Party Plugin(OverlayScrollbars)-->
  <th:block th:replace="~{layouts/static :: js_scripts}"></th:block>
  <!--end::OverlayScrollbars Configure-->
  <!--end::Script-->
</body>

</html>
