<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Danh sách Tác giả</title>
</head>

<body>
    <div th:insert="~{layouts/layout :: header}"></div>

    <h1>List author</h1>
    <a href="/authors/new">Create new author</a>
    <br/>
    <br/>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        <tr th:each="author : ${authors}">
            <td th:text="${author.id}"></td>
            <td th:text="${author.name}"></td>
            <td>
                <a th:href="@{/authors/edit/{id}(id=${author.id})}">Edit</a>
                <a th:href="@{/authors/{id}/delete(id=${author.id})}">Delete</a>
            </td>
        </tr>
    </table>
    <div th:replace="~{layouts/layout :: footer(name = 'Phuong')}"></div>
</body>

</html>
