<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Author</title>
</head>
<body>
    <h1>Add new author</h1>

    <form th:action="@{/authors/create}" th:object="${author}" method="post">
        <div th:classappend="${#fields.hasErrors('name')} ? 'form-group-error' : ''">
            <label for="name">Name: </label>
            <input type="text" th:field="*{name}" placeholder="Input name" th:errorclass="input-error-highlight" />
            <div th:if="${#fields.hasErrors('name')}" class="error-detail">
                <span th:errors="*{name}" style="color:red;"></span>
            </div>
        </div>
        <br>
        <button type="submit">Add new</button>
    </form>

    <a th:href="@{/authors/index}">Back to Authors List</a>
</body>
</html>
